{% extends 'layout.html' %}
{% block body %}
<div class="container container-fluid">
<br>
<h2>Dashboard <small>Welcome {{session.username}}</small></h2><br>
<a href="/add_business" class=" btn btn-success">Add business</a>
<hr><br>

<table class="table table-hover table-condensed table-sm">
<tr class="table-active bg-primary">
    <th scope="col">NO</th>
    <th>Bussiness name</th>
    <th>Owner</th>
    <th>Date</th>
    <th></th>
    <th></th>
</tr>



{% for n  in range(business | length) %}
<tr>
   <td class="count">{{n+1}}</td>
    <td scope="col">{{business[n]['business_name']}}</td>
    <td scope="col">{{business[n].owner}}</td>
    <td scope="col">{{business[n]['create_date']}}</td>
    <td></td>
    <td></td>


    <td><a href="edit_business/{{business[n].id}}" class="btn btn-default pull-right">Edit
        <span class="glyphicon glyphicon-edit"></span>
        </a>
    </td>

   
    <td>
        <form action="{{url_for('delete_business', id = business[n].id)}}",  method ="post">
           
            <input type="hidden" name = "_method"value = "DELETE">
            <span ></span>   
            <input type="submit" value ="Delete" class="btn btn-danger  glyphicon glyphicon-trash">
         
        </form>
    </td>

</tr>

{% endfor %}

</table>
</div>

{% endblock %}