{% extends 'layout.html' %}
{% block body %}

<h1>Dashboard <small>Welcome {{session.username}}</small></h1>

<a href="/add_business" class="btn btn-primary">Add business</a>

<hr>

<table class="table table-striped table-dark table-hover table-active table-responsive">
    <tr>
        <th>NO</th>
        <th>Business_name</th>
        <th>Owner</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    
    
    
    {% for n  in range(business | length) %}
    <tr>
       <td class="count">{{n+1}}</td>
        <td>{{business[n]['business_name']}}</td>
        <td>{{business[n].owner}}</td>
        <td>{{business[n]['create_date']}}</td>
    
    
        <td><a href="edit_business/{{business[n].id}}" class="btn btn-default pull-right">Edit
            <span class="glyphicon glyphicon-edit"></span>
            </a>
        </td>
    
       
        <td>
            <form action="{{url_for('delete_business', id = business[n].id)}}",  method ="post">
               
                <input type="hidden" name = "_method"value = "DELETE">
                <span ></span>   
                <input type="submit" value ="Delete" class="btn btn-danger glyphicon glyphicon-trash">
             
            </form>
        </td>
    
    </tr>
    
    {% endfor %}
    
    </table>


{% endblock %}